<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom CSS */
        .center-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .change-container {
            background-color: #ffffff;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            padding: 20px;
            width: 400px;
        }

        .form-control {
            border-radius: 10px; 
        }

        .btn-submit {
            background-color: #007bff;
            color: #fff;
            font-weight: bold; 
        }

        .btn-submit:hover {
            background-color: #0056b3;
        }

        .font-bold {
            font-weight: bold;
        }

        .text-blue {
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="center-form">
            <div class="change-container">
                <h2 class="text-center text-blue mb-4 font-bold">Change Password</h2>
                <form id="changePassword" action="/auth/ChangePassword" method="post">
                    <div class="form-group">
                        <label for="oldpassword">Old Password:</label>
                        <input type="password" id="oldpassword" name="oldpassword" class="form-control" required>
                        <input type="checkbox" id="showOldPassword" onclick="togglePassword('oldpassword')" class="show-password">
                        <label for="showOldPassword" class="show-password">Show Password</label>
                    </div>
                    <div class="form-group">
                        <label for="newpassword">New Password:</label>
                        <input type="password" id="newpassword" name="newpassword" class="form-control" required>
                        <input type="checkbox" id="showNewPassword" onclick="togglePassword('newpassword')" class="show-password">
                        <label for="showNewPassword" class="show-password">Show Password</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-submit btn-block">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function togglePassword(inputId) {
            var inputField = document.getElementById(inputId);
            if (inputField.type === "password") {
                inputField.type = "text";
            } else {
                inputField.type = "password";
            }
        }
    </script>
</body>
</html>
