<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Custom CSS */
        .center-form {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .custom-card {
            background-color: #ffffff;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            padding: 20px;
            height: 200px;
            width: 450px;
        }

        .form-control {
            border-radius: 10px; 
        }

        .btn-submit {
            background-color: #007bff;
            color: #fff;
            font-weight: bold; 
        }

        .btn-submit:hover {
            background-color: #0056b3;
        }

        .font-bold {
            font-weight: bold;
        }
        .text-blue {
            color: #007bff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="center-form">
            <div class="custom-card">
                <h1 class="text-center text-blue mb-4 font-bold">Forgot password?</h1>
                <form action="#" method="post">
                    <div class="form-group">
                        <input type="email" name="email" class="form-control mb-2" placeholder="Email" required>
                    </div>
                    <button type="submit" class="btn btn-submit btn-block">Send Mail</button>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
